body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(../../../assets/images/fondoHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
  }
  
  .showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  
  .showcase:hover .content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  
  .content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
  }
  
  .content .logo {
    height: 180px;
    width: 180px;
  }
  
  .content .title {
    font-size: 2.2rem;
    margin-top: 1rem;
    color: white;
  }
  
  .content .text {
    line-height: 1.7;
    margin-top: 1rem;
    color: rgb(213, 213, 219);
  }
  
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
  }
  
  .grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .center {
    text-align: center;
    margin: auto;
  }
  
  .bg-light {
    background: #f4f4f4;
    color: #333;
  }
  
  .bg-dark {
    background: #333;
    color: #f4f4f4;
  }
  
  footer {
    padding: 2.2rem;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Small Screens */
  @media (max-width: 560px) {
    .showcase::after {
      height: 50vh;
    }
  
    .content {
      top: 5%;
      margin-top: 5px;
    }
  
    .content .logo {
      height: 140px;
      width: 140px;
    }
  
    .content .text {
      display: none;
    }
  
    .grid-3,
    .grid-2 {
      grid-template-columns: 1fr;
    }
  
    .services div {
      border-bottom: #333 dashed 1px;
      padding: 1.2rem 1rem;
    }
  }
  
  /* Landscape */
  @media (max-height: 500px) {
    .content .title,
    .content .text {
      display: none;
    }
  
    .content {
      top: 0;
    }
  }

  .about_titulo{
      padding-top: 50px;
      margin-bottom: 50px;
      text-align: center;
  }

  .about_line{
      width: 60%;
      margin-left: 290px;
  }

  
  .card {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
  }
  
  .card h1 {
    text-align: center;
  }
  
  .card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dec05e, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  
  .card.green .additional {
    background: linear-gradient(#9295bc, #a2cca2);
  }
  
  
  .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
  }
  
  .card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
  }
  
  .card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);
  }
  
  .card .additional .user-card .level,
  .card .additional .user-card .points {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0,0,0,0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
  }
  
  .card .additional .user-card .points {
    top: 85%;
  }
  
  .card .additional .user-card svg {
    top: 50%;
  }
  
  .card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
  }

  .more-info button{
      margin-top: 100px;
      padding: 10px 30px;
      border: none;
      border-radius: 20px;
  }
  
  .card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
  }
  
  .card.green .additional .more-info h1 {
    color: #22254c;
  }
  
  .card .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
  }
  
  .card.green .additional .coords {
    color: #32365c;
  }
  
  .card .additional .coords span + span {
    float: right;
  }
  
  .card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
  }
  
  .card.green .additional .stats {
    color: #32355c;
  }
  
  .card .additional .stats > div {
    flex: 1;
    text-align: center;
  }
  
  .card .additional .stats i {
    display: block;
  }
  
  .card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
  }
  
  .card .additional .stats div.value.infinity {
    font-size: 2.5rem;
  }
  
  .card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
  }
  
  .card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
  }

  .general .general_titulo{
      margin-top: 40px;
  }

  .avatar {
    margin-left: 25px;
    border-radius: 50%;
    background-image: url('../../../assets/images/logoGuia.png');
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 100px;
}

.avatarTurista {
    margin-left: 25px;
    margin-top: 84px;
    background-image: url('../../../assets/images/logoTurista.png');
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}
  
  
  